# Created by .ignore support plugin (hsz.mobi)
/.idea/
/Collections/.idea/
/DesignPatterns/.idea/
/DesignPatterns/target/
/Collections/Collections.iml
/DesignPatterns/DesignPatterns.iml
/Puzzels/.idea/
/Puzzels/Puzzels.iml
/Puzzels/out/
/Strings/.idea/
/Strings/out/
/Strings/Strings.iml
/Threads/.idea/
/Threads/Threads.iml
/General/General.iml
/General/.idea/
/out/
/MyFile.txt
/.gitignore
/Out.log
/test.txt
/test1.txt
/Strings/src/META-INF/
/DataStructures/DataStructures.iml
